.App {
  width: 90%;
  margin: auto;
}

.redux-h1:hover, .example-h1:hover {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

.App-logo {
  animation-name: App-logo-spin;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-play-state: paused;
}

.new-logo:hover .App-logo {
  animation-play-state: running;
}

.new-logo:hover g {
  fill: #61dafb;
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
